<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>studyshareandwork-api</title>
</head>
<body>
  <h1>API Project StudyShareAndWork.com</h1>
  <p>This is a api for application StudyShareAndWork. Manage users, courses, skills and projects.</p>
  <p>This api is created by <a target="_blank" href="https://github.com/irwing">Irwing Naranjo</a>.</p>
  <p><a target="_blank" href="/doc">View documentation</a></p>
</body>
</html>
